# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# created by virtualenv automatically
.venv/
.venv
hide

__pycache__/
*.py[cod]
*$py.class
.idea/
.idea

.DS_Store

.env